{include common/header.inc}
    <style type="text/css">
        body {
            /*background:url('{__CTPL_URL__}images/answered.png') no-repeat;
            background-size: cover;*/
            background-color: #106051;
        }
    </style>
</head>

<body>
    {include common/userinfo.inc}
    <div class="content" style="z-index: -1">
        <img src="http://www.dadiandesign.com/wx/guess/static/images/answered.png" style="width: 100%" />
    </div>

    <script type="text/javascript">
        $(function() {

        });
    </script>
</body>

</html>