<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <title>谁是LULU？</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <div class="top-nav" style="position: relative;">
        <a href="javascript:history.go(-1);" style="position: absolute; left: 6px;"><返回</a>

        <div class="text-center" style="color: #f7ca5e; font-weight: bold;">
            历史竞猜
        </div>
    </div>

    <ul class="history">
        <li>
            <img class="left" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2182894899,3428535748&fm=58&bpow=445&bpoh=605">

            <div class="right">
                <p>
                    <span class="title">答题时间:</span>
                    <span class="value">2018-12-09 23:22:14</span>
                </p>
                <p>
                    <span class="title">已达题目:</span>
                    <span class="value">谁是LULU？</span>
                </p>
                <p>
                    <span class="title">所选答案:</span>
                    <span class="value">绝对是一只贵宾犬</span>
                </p>
            </div>
            <div style="float: none;clear: both"></div>
        </li>

        <li>
            <img class="left" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2182894899,3428535748&fm=58&bpow=445&bpoh=605">

            <div class="right">
                <p>
                    <span class="title">答题时间:</span>
                    <span class="value">2018-12-09 23:22:14</span>
                </p>
                <p>
                    <span class="title">已达题目:</span>
                    <span class="value">谁是LULU？</span>
                </p>
                <p>
                    <span class="title">所选答案:</span>
                    <span class="value">绝对是一只贵宾犬</span>
                </p>
            </div>
            <div style="float: none;clear: both"></div>
        </li>

        <li>
            <img class="left" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2182894899,3428535748&fm=58&bpow=445&bpoh=605">

            <div class="right">
                <p>
                    <span class="title">答题时间:</span>
                    <span class="value">2018-12-09 23:22:14</span>
                </p>
                <p>
                    <span class="title">已达题目:</span>
                    <span class="value">谁是LULU？</span>
                </p>
                <p>
                    <span class="title">所选答案:</span>
                    <span class="value">绝对是一只贵宾犬</span>
                </p>
            </div>
            <div style="float: none;clear: both"></div>
        </li>

        <li>
            <img class="left" src="https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=2182894899,3428535748&fm=58&bpow=445&bpoh=605">

            <div class="right">
                <p>
                    <span class="title">答题时间:</span>
                    <span class="value">2018-12-09 23:22:14</span>
                </p>
                <p>
                    <span class="title">已达题目:</span>
                    <span class="value">谁是LULU？</span>
                </p>
                <p>
                    <span class="title">所选答案:</span>
                    <span class="value">绝对是一只贵宾犬</span>
                </p>
            </div>
            <div style="float: none;clear: both"></div>
        </li>
    </ul>

    <script type="text/javascript">
        $(function() {

        });
    </script>
</body>

</html>