<script src="{__STATIC_URL__}js/jquery.min.js"></script>
<script src="{__CTPL_URL__}js/bootstrap.min.js?v=3.3.6"></script>
<script src="{__CTPL_URL__}js/content.min.js?v=1.0.0"></script>
<script src="{__STATIC_URL__}dialog/lhgdialog.min.js?skin=discuz&amp;{__CACHE_VER__}"></script>
<script src="{__STATIC_URL__}js/RGX.lib.min.js"></script>
<script src="{__STATIC_URL__}js/rgx.js"></script>
<script src="{__CTPL_URL__}js/common.js"></script>
<script src="{__CTPL_URL__}js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="{__STATIC_URL__}js/upload.js"></script>

