<!--{include common/meta.inc}-->
<link href="{__CTPL_URL__}css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="{__CTPL_URL__}css/album.css" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <form action="{url:'@%s-save' , $_MODULE}" method="post" id="sform" class="form-horizontal">
            <input type="hidden" name="data[tm_id]" id="tm_id" value="{$data['tm_id']|int}">

            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>
                                <i class="fa fa-cog"></i>
                                编辑/新增题目
                            </h5>
                            <button class="btn btn-sm btn-primary pull-right" type="submit">保存内容</button>
                        </div>
                        <div class="ibox-content">
                            <div class="row row-dashed">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">题目名称</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" required name="data[tm_name]"  placeholder="题目名称" id="tm_name" value="{$data['tm_name'] ? : ''}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">题目状态</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="data[tm_status]">
                                                <option value="active" {if $data['tm_status'] == 'active'} selected{/if}>激活</option>
                                                <option value="close" {if $data['tm_status'] == 'close'} selected{/if}>关闭</option>
                                            </select>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">背景图片地址</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="data[tm_bg_image]"  placeholder="背景图片地址，需要浏览器可直接访问" id="tm_bg_image" required value="{$data['tm_bg_image'] ? : ''}" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">题目答案</label>
                                        <div class="col-sm-9">
                                            <textarea name="data[tm_answer]" class="form-control" rows="4">{$data['tm_answer'] ? : ''}</textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--{include common/js.inc}-->
    <script type="text/javascript">
        RGX.post('#sform');
    </script>
</body>
<!--{include common/footer.inc}